
.bg{
	background-image:url(../images/dark1.jpg);
	background-position: center;
	background-repeat: repeat-y;
	background-color: #61485d;
	
}

.bg-color{
	/* background-color: #ffffe6; */
	background-color: rgba(255,255,230, 1);
	min-height: 600px;	
	margin-bottom: 30px;
}

.list{
	float: right;
	list-style: none;
	margin-top: 50px;

}
.list>li{
	float: left;
	padding: 5px;
}

.min-height{
	min-height:300px;
}

.tbl{
	width: 80%;
	
}
.frmd{
	margin: auto;
	width: 50%;
}
.error{
	color: red;
}
.cardbg{
	border:none !important;
	min-height: 300px;
}
.cardheaderbg{
	background-color: rgba(255,255,230, 1) !important;
}
.cardbody{
	background-color: #ffffe6 !important;
}

.activebg{
	background-color: none !important;
	border-color: #dee2e6 #dee2e6 #fff;
}